div { 
    color: salmon;
}

h1 {
    background-color: teal;
    padding: 5px;
}

.navbar-brand {
    font-weight: bolder;
}

.container {
    width: 100%;
}

img {
    width: 100px;
}

.card-text {
    flex-wrap: wrap;
}

h5 {
    border-bottom-style: solid;
    padding: 5px;
    margin: 10px;
    width: 100%
    
}

.form-row {
    margin: 20px,20px,20px,20px;
    border: teal;
    border-style: solid;
    float: left;
}

.page {
    font-weight: bold;
    padding: 25px;
    font-size: large;
    color:teal;
}

.footer {
    position: fixed;
    bottom: 0;
    border-top-style: solid;
    border-top-color: teal;
    width: 100%;
    text-align: center;
    background-color: beige;
    color: teal;
    font-weight: bold;
}

.copyright {
    background-color: beige;
}

